{
  "development": false,
  "Twit": {
    "test": false,
    "url": "http://openstrategynetwork.com",
    "options": {
      "consumer_key": "",
      "consumer_secret": "",
      "access_token": "",
      "access_token_secret": ""
    }
  },
  "users": {
    "roles": {
    }
  },
  "AWSAccessKeyId" : "<AWS KEY>",
  "AWSSecretAccessKey" : "<AWS SECRET>",
  "AWSBucket" : "<AWS BUCKET>"
}