<template name="adminNewsEventsEdit">
    <div class="container extra-spacing-bottom extra-spacing-top">
		<div class="putdown extra-spacing-bottom">
            <h1 class="extra-spacing-bottom">EDIT ENTRY</h1>
            <hr>
			{{#with newsEventsEntry}}
			<form class="form-horizontal" role="form">

		        <div class="form-group">
		            <label for="title" class="col-sm-2 control-label">Title</label>
		        	<div class="col-sm-10">
		            	<input type="text" class="form-control" value="{{title}}" id="title" name="title" placeholder="Enter Title">
		            </div>
		        </div>

		        <div class="form-group">
		            <label for="description" class="col-sm-2 control-label">Description</label>
		            <div class="col-sm-10">
		            	<div name="description" id="description">
		            		{{{description}}}
		            	</div>
	            	</div>
		        </div>

            <div class="form-group">
                  <label for="newsKeywords" class="col-sm-2 control-label">Keywords</label>
            <div class="col-sm-10">
                  <input type="select" id="newsKeywords" placeholder="Choose some tags (e.g. JavaScript, Math)">
            </div>
            </div>

		        <div class="form-group">
		            <label for="description" class="col-sm-2 control-label">Type</label>
		            <div class="col-sm-10">
		                <div class="radio">
		                  <label><input type="radio" name="netype" value="news" {{isChecked 'news'}}>News</label>
		                </div>
		                <div class="radio">
		                  <label><input type="radio" name="netype" value="event" {{isChecked 'event'}}>Event</label>
		                </div>
		            </div>
		        </div>

				{{#if imageExists}}
				<div class="thumbnail">
					<a title="Edit" class="btn btn-danger admin-button jsNewsDelImage" href="{{pathFor route='adminNewsEventsEdit'}}"><i class="fa fa-trash"></i> </a>
					<img src="{{coverImage.url}}" class="img-responsive img-mini" alt="Image">
				</div>

				{{else}}
				<div class="form-group">
          <label for="coverImage" class="col-sm-2 control-label">Image</label>
          <div class="col-sm-10">
            	<input type="file" id="coverImage">
          </div>
        </div>
				{{/if}}

				{{#if attachmentExists}}
				<li>
					<a href="{{ attachment.url }}">{{attachment.original.name}}  </a>
					<button type="button" class="btn btn-danger jsNewsDelAttachment"><i class="fa fa-trash"></i></button>
				</li>
        {{else}}
         <div class="form-group">
            <label for="attachment" class="col-sm-2 control-label">Attachment</label>
            <div class="col-sm-10">
              	<input type="file" id="attachment">
            </div>
        </div>
        {{/if}}

				<hr>

		        <div class="form-group">
		            <div class="col-sm-offset-2 col-sm-10">
		                <button type="submit" id="js-updateEntry" class="btn btn-primary admin-button">UPDATE</button>
		            </div>
		        </div>

		    </form> <!-- end form -->
		{{/with}}

			<div class="row">
				{{#each newsEventsData}}
				<li>{{title}}</li>
				<a href="{{pathFor route='newsAndEventsPage'}}">read more</a>

				<a href ="/news-and-events/{{ _id }}">
				  <img alt="" src="{{ coverImage.url }}" />
				</a>

				<li><a href="{{ attachment.url }}">Download {{attachment.original.name}}</a></li>

				<hr>
				{{/each}}

			</div>
		</div> <!-- putdown -->
	</div> <!-- container -->
</template>
