<template name="adminPublicationsEdit">
    <div class="container extra-spacing-bottom extra-spacing-top">
		<div class="putdown extra-spacing-bottom">
            <h1 class="extra-spacing-bottom">EDIT ENTRY</h1>
            <hr>
      {{#with pubEntry}}
      <form class="form-horizontal" id="addPub" role="form">
        <div class="form-group">
            <label for="title" class="col-sm-2 control-label">Title</label>
          <div class="col-sm-10">
              <input type="text" class="form-control" id="title" name="title" value="{{title}}" placeholder="Enter Title">
            </div>
        </div>

        {{#each inputsExistingAuthors}}
         <div class="form-group">
          <label for="authors" class="col-sm-2 control-label">Author(s)</label>
          <div class="col-sm-5">
                <input type="text" class="form-control author-first-n" name="authors" id="{{uniqidFirst}}" value="{{valueFirst}}"  placeholder="Enter First Name">
          </div>
           <div class="col-sm-5">
              <input type="text" class="form-control author-last-n" name="authors" id="{{uniqidLast}}" value="{{valueLast}}" placeholder="Enter Last Name">
          </div>
        </div>
        {{/each}}

      {{#each inputsAuthors}}
        {{> authorsInputEdit}}
      {{/each}}

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button class="btn btn-primary extra-spacing-top extra-spacing-bottom" id="js-addAuthors" type="button">ADD AUTHOR</button>
        </div>
      </div>

        <div class="form-group">
            <label for="year" class="col-sm-2 control-label">Year</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="year" name="year" value="{{year}}" placeholder="Enter Year of Publication">
            </div>
        </div>

       <div class="form-group">
          <label for="abstract" class="col-sm-2 control-label">Abstract</label>
          <div class="col-sm-10">
          <div name="abstract" id="abstract">
            {{{abstract}}}
          </div>
          </div>
      </div>

        <div class="form-group js-radiosEdit">
            <label for="Outlet" class="col-sm-2 control-label">Outlet</label>
            <div class="col-sm-10">
                <label class="radio-inline"><input type="radio" name="outlet-type" id="wp" value="wp" {{isChecked 'wp'}}>Working Paper</label>
                <label class="radio-inline"><input type="radio" name="outlet-type" id="pp" value="pp" {{isChecked 'pp'}}>Published Paper</label>
                <label class="radio-inline"><input type="radio" name="outlet-type" id="bk" value="bk" {{isChecked 'bk'}}>Book</label>
                <label class="radio-inline"><input type="radio" name="outlet-type" id="bc" value="bc" {{isChecked 'bc'}}>Book Chapter</label>
            </div>
        </div>

          {{#if ppSelected}}
           <div class="form-group">
              <label for="journal" class="col-sm-2 control-label">Journal</label>
              <div class="col-sm-10">
                  <input type="text" class="form-control" id="journal" name="journal" value="{{journal}}">
              </div>
          </div>

          <div class="form-group">
              <label for="pages" class="col-sm-2 control-label">Pages</label>
              <div class="col-sm-10">
                  <input type="text" class="form-control" id="pages" name="pages" value="{{pages}}">
              </div>
          </div>
          {{/if}}

        {{#if bkSelected}}
         <div class="form-group">
            <label for="publisher" class="col-sm-2 control-label">Publisher</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="publisher" name="publisher" value="{{publisher}}">
            </div>
        </div>

        <div class="form-group">
            <label for="location" class="col-sm-2 control-label">Location of Publisher</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="location" name="location" value="{{location}}">
            </div>
        </div>
        {{/if}}

        {{#if bcSelected}}
         <div class="form-group">
          <label for="publisher" class="col-sm-2 control-label">Publisher</label>
          <div class="col-sm-10">
              <input type="text" class="form-control" id="publisher" name="publisher" value="{{publisher}}">
          </div>
        </div>

        <div class="form-group">
          <label for="location" class="col-sm-2 control-label">Location of Publisher</label>
          <div class="col-sm-10">
              <input type="text" class="form-control" id="location" name="location" value="{{location}}">
          </div>
        </div>

        {{#each inputsExistingEditors}}
         <div class="form-group">
          <label for="authors" class="col-sm-2 control-label">Editors(s)</label>
          <div class="col-sm-5">
                <input type="text" class="form-control editors-first-n" name="authors" id="{{uniqidFirst}}" value="{{valueFirst}}"  placeholder="Enter First Name">
          </div>
           <div class="col-sm-5">
              <input type="text" class="form-control editors-last-n" name="authors" id="{{uniqidLast}}" value="{{valueLast}}" placeholder="Enter Last Name">
          </div>
        </div>
        {{/each}}

        {{#each inputsEditors}}
          {{> editorsInputEdit}}
        {{/each}}

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-primary extra-spacing-bottom" id="js-addEditors" type="button">ADD EDITORS</button>
          </div>
        </div>
        {{/if}}

        <div class="form-group">
          <label for="pages" class="col-sm-2 control-label">Link</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="link" value="{{link}}" name="pages" placeholder="Enter an external URL for more information">
          </div>
        </div>

        {{#if attachmentExists}}
         <div class="form-group">
          <li>
            <a href="{{ attachment.url }}">{{attachment.original.name}}  </a>
            <button type="button" class="btn btn-danger jsPubsDelAttachment"><i class="fa fa-trash"></i></button>
        </li>
        </div>
        {{else}}
        <div class="form-group">
          <label for="attachment" class="col-sm-2 control-label">Attachment</label>
          <div class="col-sm-10">
            <input type="file" id="attachment">
          </div>
        </div>
        {{/if}}

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" id="js-addEntry" class="btn btn-primary">UPDATE ENTRY</button>
          </div>
        </div>
      </form> <!-- end form -->

      {{/with}}
    </div> <!-- putdown -->
  </div> <!-- container -->
</template>

<template name="authorsInputEdit">
   <div class="form-group">
        <label for="authors" class="col-sm-2 control-label">Author(s)</label>
        <div class="col-sm-5">
            <input type="text" class="form-control author-first-n" name="firstName" value="{{valueFirst}}" id="{{uniqidFirst}}"  placeholder="Enter First Name">
        </div>
        <div class="col-sm-5">
            <input type="text" class="form-control author-last-n" name="lastName" value="{{valueLast}}" id="{{uniqidLast}}"  placeholder="Enter Last Name">
        </div>
    </div>
</template>

<template name="editorsInputEdit">
   <div class="form-group">
        <label for="authors" class="col-sm-2 control-label">Editor(s)</label>
        <div class="col-sm-5">
            <input type="text" class="form-control editors-first-n" name="authors" value="{{valueFirst}}" id="{{uniqidFirst}}"  placeholder="Enter First Name">
        </div>
        <div class="col-sm-5">
            <input type="text" class="form-control editors-last-n" name="authors" value="{{valueLast}}" id="{{uniqidLast}}"  placeholder="Enter Last Name">
        </div>
    </div>
</template>
