<template name="bibliography">
	<div class="container">
		<div>
		  	<h3>Search: {{> EasySearch.Input index=publicationsIndex attributes=atts }}</h3>
		  	{{#EasySearch.IfInputEmpty index=publicationsIndex}}
	      	{{#each publicationData}}
	    		<h3>{{title}}</h3>
	    		{{#each authors}}
	    			<li>Author(s) complex: {{this.firstName}} {{this.lastName}}</li>
	    		{{/each}}
	    	{{/each}}
	  		{{else}}
	  		{{#if publicationsIndex}}
		  		<ul>
			    {{#EasySearch.Each index=publicationsIndex}}
			      <li><h3>Name of website: <a href="{{url}}">{{title}}</a></h3>
						<p>{{description}}</p>
			      </li>
			    {{/EasySearch.Each}}
			  	</ul>
	  		{{/if}}
		  	{{/EasySearch.IfInputEmpty}}


		  {{> EasySearch.LoadMore index=publicationsIndex}}

		  {{#EasySearch.IfNoResults index=publicationsIndex}}
		    <div class="no-results">No results found!</div>
		  {{/EasySearch.IfNoResults}}
	  </div>
  </div>
</template>