<template name="atPwdFormMod">
  <div class="at-pwd-form">
    <form role="form" id="at-pwd-form" novalidate action="#" method="POST" class="extra-spacing-bottom extra-spacing-top">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h3>REGISTER by creating a new account:</h3>
              <hr class="light-blue-form">
          </div>
      </div>
      <fieldset {{disabled}}>
        {{#each fields}}
          {{> atInput}}
        {{/each}}
        {{#if showReCaptcha}}
          {{> atReCaptcha}}
        {{/if}}
        {{#if showForgotPasswordLink}}
          {{> atPwdLink}}
        {{/if}}
        {{> atPwdFormBtn}}
      </fieldset>

      <div class="row">
          <div class="col-lg-12 text-center">
              <h3>OR REGISTER with your social account:</h3>
              <hr class="light-blue-form">
          </div>
      </div>
      
    </form>
  </div>
</template>
