<template name="joinUs">

  <!-- Stage -->
  <header>
    <div class="header-content">
        <!-- Breadcrumb -->
        <ol class="breadcrumb text-left">
            <li><a class="breadcrumb-link" href="{{pathFor route = 'home'}}">Home</a></li>
            <li class="active">Join us</li>
        </ol><!-- End of Breadcrumb -->
        <div class="header-content-inner">
            <h1>YOUR BENEFITS</h1>
            <hr>
            <h2>As a member of OSN you will become part of a thriving network of scholars interested in open strategy. There are many advantages of joining the OSN. Registration is free.</h2>
            <button type="button" href="#joinus" class="btn btn-primary btn-xl page-scroll js-scrollToForm">JOIN US</button>
        </div>
    </div>
  </header> <!-- ./Stage -->

  <!-- Services Section -->
  <section id="services">
    <div class="container">
        <div class="row text-center extra-spacing-top extra-spacing-bottom joinus-icons">
            <div class="col-sm-4">
                <span class="fa-stack fa-4x">
                    <!-- <i class="fa fa-circle fa-stack-2x"></i> -->
                    <i class="fa fa-bullhorn fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">News</h4>
                <p class="text-muted">As a member you can submit news to the whole Open Strategy community and disseminate related research findings.</p>
            </div>
            <div class="col-sm-4">
                <span class="fa-stack fa-4x">
                    <!-- <i class="fa fa-circle fa-stack-2x text-primary"></i> -->
                    <i class="fa fa-comments-o fa-stack-1x fa-inverse joinus-icons"></i>
                </span>
                <h4 class="service-heading">Collaborations</h4>
                <p class="text-muted">Collaborate internationally by searching for data on OSN members.</p>
            </div>
            <div class="col-sm-4">
                <span class="fa-stack fa-4x">
                    <!-- <i class="fa fa-circle fa-stack-2x text-primary"></i> -->
                    <i class="fa fa-newspaper-o fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Literature</h4>
                <p class="text-muted">Search for Open Strategy literature on specific topics within the Bibliography</p>
            </div>
        </div>
    </div>
  </section>

  <!-- <div id="js-scrollStop"></div> -->

  <!--     Registration Form -->
  <section class="bg-light-gray extra-spacing-top" id="js-scrollStop">
    <div class="container">
        <form>
            {{> atForm state='signUp'}}
        </form>
    </div>
  </section>
<script>
setInterval(function(){
if(window.location.href.split('/').pop()=='joinus'){
	var password_value = $("[name='at-field-password']")[0].value;
    var password_value_length = password_value.length;
    var password_again_value = $("[name='at-field-password_again']")[0].value;
	var password_again_value_length = password_again_value.length;
    //Selecting classes
    var icon_position = $('.glyphicon.glyphicon-remove.form-control-feedback').length-1;
    var message_position = $('.help-block').length-1;
    var icon_class_constructor = '.glyphicon.glyphicon-remove.form-control-feedback:eq('+icon_position+')';
    var message_class_constructor = '.help-block:eq('+message_position+')';
    //
    if(password_value==password_again_value && password_value_length==6 && password_value_length==6){
	    $(icon_class_constructor).removeClass('glyphicon-remove').addClass('glyphicon-ok').css("color","green");
	    $(message_class_constructor).addClass('hide');
	    $("[name='at-field-password_again']").css({"border-style":"solid", "border-color":"green"})
	return false;
    }else{
	    if(password_value_length!=0 || password_value_length!=0){
		    $("[name='at-field-password_again']").css({"border-style":"solid", "border-color":"#a94442"})
		}
	}
}	
}, 10);
</script>
</template>
