<template name="allNewsEvents">
	<!-- Stage -->
  <header>
    <div class="header-content">
        <!-- Breadcrumb -->
        <ol class="breadcrumb text-left">
            <li><a class="breadcrumb-link" href="{{pathFor route = 'home'}}">Home</a></li>
            <li class="active">News</li>
        </ol><!-- End of Breadcrumb -->

        <div class="header-content-inner">
            <h1>News</h1>
            <hr>
            <h2>News is a repository of upcoming events, workshops or general announcements related to

Open Strategy. News is designed to be dynamic and collaborative, so any Open Strategy

related news are warmly welcome. In order to add news to this section, please send as an email.</h2>
        </div>
    </div>
  </header> <!-- ./Stage -->

  <!-- FILTER -->
  <section id="Filter">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <div class="btn-group btn-group-md extra-spacing-top" role="group">
                  <a type="button" id="js-seeAllMain" class="btn btn-primary active">SEE ALL</a>
                  <a type="button" id="js-seeNewsMain" class="btn btn-primary">NEWS</a>
                  <a type="button" id="js-seeEventsMain" class="btn btn-primary">EVENTS</a>
                </div>
            </div>
        </div>
    </div>
  </section> <!-- ./FILTER -->

	<!-- News&Events -->
	<section id="News">
		<div class="container">
			<!-- ROW -->
      <div class="container">
      {{> newsblock}}
      </div>

      <!-- Add later when more News uploaded -->
      <!-- {{#unless clickedAll}}
			<div class="row">
				<div class="col-lg-12 text-center">
					<button class="btn btn-primary page-scroll extra-spacing-bottom js-seeMoreNE">SEE MORE</button>
				</div>
			</div>
      {{/unless}} -->
		</div>
	</section> <!-- ./News&Events -->
</template>

<template name="newsblock">
  {{#each newsEventsData}}
    {{> newsrow}}
  {{/each}}
</template>

<template name="newsrow">
  <div class="row">
    {{#each this.row}}
      {{> newsitem}}
    {{/each}}
  </div>
</template>

<template name="newsitem">
  <div class="col-md-4 col-sm-6">
    <div class="caption">
        <!-- {{#if category}}
        <div class="category">
            <em>{{category}}</em><br>
        </div>
        {{/if}} -->
        {{#if imageExists}}
        <h4>{{title}}</h4>
        <img alt="news thumbnail" class="news-thumbnail" src="{{ coverImage.url }}" />
        {{else}}
        <h4>{{title}}</h4>
        {{/if}}
        {{#if keywordsExist}}
          {{#each keywords}}<small class="tags">{{this}} </small>{{/each}}
        {{/if}}
        <p class="text-muted"> {{shortIt this.cleanDescription 150}} <a href="{{pathFor route = 'newsAndEventsPage'}}" class="textlink">read more </a></p>
    </div>
  </div>
</template>
<!-- {{#if imageExists}}

<img alt="news thumbnail" class="news-thumbnail" src="{{#if imageExists}}{{ coverImage.url }}{/if}" />{

{{else}}
<h4>{{title}}</h4>
{/if} -->
