<template name="contact">
	<!-- Stage -->
	<header>
			<div class="header-content">
					<!-- Breadcrumb -->
					<ol class="breadcrumb text-left">
							<li><a class="breadcrumb-link" href="{{pathFor route = 'home'}}">Home</a></li>
							<li class="active">Contact</li>
					</ol><!-- End of Breadcrumb -->
					<div class="header-content-inner">
							<h1>Contact</h1>
							<hr>
							<h2>Open Strategy Network is designed to be dynamic and collaborative, growing with the community to include new knowledge and resources. In order to contribute with news, literature etc. please send an email to <a href="mailto: violetta.splitter@uzh.ch"> Violetta Splitter.</a><br>Thanks for helping to keep our website up-to-date.</h2>
							<!-- <button href="#joinus" class="btn btn-primary btn-xl page-scroll">JOIN US</button> -->
					</div>
			</div>
	</header> <!-- ./Stage -->

	<div class="white-space">
	</div>

	<!-- Services Section -->
	<section id="services">
			<div class="container">
				<div class="row text-center extra-spacing-top">
				    <br>
					<br>

				    {{#each toUserContact}}
					<center>
					<div style="margin-top:5px;height:350px;" class="col-sm-6">
						<div class="team-member">
						    <div class="contact-thumbnail">
                                <div class="testing">
						            <div class="imgBlock">
							    
							            <center>
								           {{#if noPic true}}
									            <img   src="img/contact-placeholder.jpg" alt="No Profile Photo">
									        {{else}}
									            {{#if normalPic true}}
							                        <img  src="{{profile.pictureID}}" alt="No Profile Photo">
									            {{else}}
									                <img  src="{{profile.picture}}" alt="No Profile Photo">
									            {{/if}}
									        {{/if}}	
								        </center>
							        </div>
								    <div style="clear:both;" id="hoverForm">
							            <form id="test">
								            <input name="userContactId" id="userContactId" type="hidden" value="{{_id}}" placeholder=""/>
									        <button style="float:right;margin-right:54%;margin-top:-5px;margin-bottom:0px;" class="btn btn-primary" id="edit"><i style="font-size:15px;" class="fa fa-pencil-square-o"></i></button>

							            </form>
							            <form id="eliminarUsuario">
				                            <input name="userId" id="userId" type="hidden" value="{{_id}}" placeholder=""/>
	                                        <button style="float:left;margin-left:54%;margin-top:-32px;margin-bottom:0px;" class="btn btn-primary" id="delete"><i style="font-size:15px;" class="fa fa-trash"></i></button>
                                        </form>
							        </div>
							    </div>
                            </div>							

							<div style="width:300px">

						
								
									<div style="margin-top:1px">
							        <h4>{{profile.firstName}}&nbsp;&nbsp;{{profile.lastName}}</h4>
							        <p class="text-muted">{{profile.position}}</p>
							        <ul class="list-inline social-buttons">
								        <li>
                                            <a href="mailto:{{profile.email}}"><i class="fa fa-envelope"></i></a>
								        </li>
								        <li>
									        <a href="mailto:{{profile.email}}">{{profile.email}}</a>
								        </li>
							        </ul>
							        </div>
							   
						    </div>
						</div>

				    </div>
					</center>
					{{/each}}

                    {{#if noAdmin true}}
                        <div class="col-sm-6">
						    <div class="team-member">

						        <center>
							        <div class="hoverOver">
							            <a href="#" id="add" class="hoverEffect"><div class="divAddContact">
										<i style="font-size:40px;margin-top:130px;" class="fa fa-plus" aria-hidden="true">
										</i></div></a>
							        </div>
						        </center>
						    </div>
					    </div>
				    {{/if}}
					</div>

			</div>
			{{>modalUserContact}}<!-- Modal template addUser -->
			{{>modalEditUser}}<!-- Modal template EditUser -->
	</section>
</template>
