<template name="newsEvents">
	<!-- Stage -->
	<header class="home">
	    <div class="header-home">
	        <div class="header-home-inner">
	            <h1><strong>Open Strategy</strong> Network <br>WELCOME!</h1>
	            <hr>
	            <h2>OSN is an international network of scholars interested in studying open strategy, i.e. more inclusive and transparent forms of strategizing. Coordinated by the University of Zurich, Saïd Business School and the University of Innsbruck, OSN investigates new forms of strategizing such as blogging, jamming and crowd-sourcing. Join the network and contribute to the OSN development!<a class="textlink" href="{{pathFor route='aboutUs'}}">Read more</a></h2>
	            <button type="button" class="btn btn-primary btn-xl page-scroll js-join">JOIN US</button>
	        </div>
	    </div>
	</header> <!-- ./Stage -->

   <!-- News&Events -->
    <section id="News">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center extra-spacing-top">
                    <h3>LATEST NEWS</h3>
                    <hr class="light-blue">
                </div>
            </div>
            <div class="row text-left">
            	{{#each newsEventsData}}
                <div class="col-sm-4">
                    <div class="caption">
						{{#if category}}
						<div class="category">
                            <em>Category: {{category}}</em><br>
                        </div>
						{{/if}}
						{{#each keywords}}<small class="tags">{{this}}</small>{{/each}}
                        <h4>{{title}}</h4>
                        <p class="text-muted"> {{shortIt this.description 250}} <a href="{{pathFor route='newsAndEventsPage'}}" class="textlink">read more </a></p>
                    </div>
                </div>
                {{/each}}
            </div>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <a href="{{pathFor route='allNewsEvents'}}" class="btn btn-primary page-scroll extra-spacing-bottom">ALL NEWS &amp; EVENTS</a>
                </div>
            </div>
        </div>
    </section> <!-- ./News&Events -->
</template>
