<template name="newsEvents">
	<!-- Stage -->
	<header class="home">
	    <div class="header-home">
	        <div class="header-home-inner">
	            <h1><strong>Open Strategy</strong> Network <br>WELCOME!</h1>
	            <hr>
	            <h2>OSN is an international network of scholars interested in studying open strategy, i.e. more inclusive and transparent forms of strategizing. Coordinated by the University of Zurich, Saïd Business School and the University of Innsbruck, OSN investigates new forms of strategizing such as blogging, jamming and crowd-sourcing. Join the network and contribute to the OSN development!<a class="textlink" href="{{pathFor route='aboutUs'}}">Read more</a></h2>
                <div class="share-button sharer" style="display: block;">
                    <div class="social top center networks-5 ">
												{{#unless currentUser}}
                        <button type="button" class="btn btn-primary btn-xl page-scroll js-join btn-joinus">JOIN US</button> <!-- Social Media Bar -->
												{{/unless}}
												<span>FOLLOW US:</span>
                        <!-- Facebook Share Button -->
                        <a class="follow-facebook" href="https://www.facebook.com/openstrategynetwork/"><i class="fa some-header fa-facebook-official"></i></a>
                        <!-- Twitter Share Button -->
                        <a class="follow-twitter" href="https://twitter.com/OpenStrategyNet"><i class="fa some-header fa-twitter"></i></a>
                        <!-- RSS Share Button -->
                        <a class="follow-rss" href="/rss/updates"><i class="fa some-header fa-rss"></i></a>
                    </div>
                </div>
            </div>
        </div>
	</header> <!-- ./Stage -->

   <!-- News&Events -->
    <section id="News">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center extra-spacing-top">
                    <h3>LATEST NEWS</h3>
                    <hr class="light-blue">
                </div>
            </div>
            <div class="row text-left">
            	{{#each newsEventsData}}
                <div class="col-sm-4">
                    <div class="caption">
                    {{#if category}}
                    <div class="category">
                        <em>{{category}}</em><br>
                    </div>
                    {{/if}}
                    <h4>{{title}}</h4>
                    {{#if keywordsExist}}
                    {{#each keywords}}<small class="tags">{{this}}</small>{{/each}}
                    {{/if}}
                    <p class="text-muted"> {{shortIt this.description 150}} <a href="{{pathFor route='newsAndEventsPage'}}" class="textlink">read more </a></p>
                </div>
                </div>
                {{/each}}
            </div>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <a href="{{pathFor route='allNewsEvents'}}" class="btn btn-primary page-scroll extra-spacing-bottom">ALL NEWS &amp; EVENTS</a>
                </div>
            </div>
        </div>
    </section> <!-- ./News&Events -->
</template>
