<template name="membersGuests">
	<!-- Stage -->
  <header>
      <div class="header-content">
          <!-- Breadcrumb -->
          <ol class="breadcrumb text-left">
              <li><a class="breadcrumb-link" href="{{pathFor route = 'home'}}">Home</a></li>
              <li class="active">Members</li>
          </ol><!-- End of Breadcrumb -->
          <div class="header-content-inner">
              <h1>Members</h1>
              <hr>
              <h2>Anybody interested in Open Strategy can join the OSN. Registration is free.</h2>
          </div>
      </div>
  </header> <!-- ./Stage -->

  <!-- BLURED BACKGROUND STARTS HERE -->

  <!-- Search -->
  <div class="overlay"><!--  Overlay -->

    <!-- Log in Layer -->
    <section class="layer-login">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 layer-background">
                <div class="text-center">
                    <h3>ONLY VISIBLE TO MEMBERS</h3>
                    <hr>
                    <p class="text-muted form">If you want to join the community please register here:</p>
                    <a href="{{pathFor route='joinUs'}}" class="btn btn-primary btn-block">JOIN US</a>
                </div>

                <hr class="layer-light">

                <div class="text-center">
                    <p class="text-muted form">If you are already a member please log in:</p>
                </div>
                <form>
                    <div class="form-group">
                        <input type="email" class="extra-spacing-bottom form-control" id="at-field-email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="password" class="extra-spacing-bottom form-control" id="at-field-password" placeholder="Password">
                    </div>
                    <button id="logInButton" type="submit" class="btn btn-primary btn-block">LOG IN</button>
                </form>

                <hr class="layer-light">

                <div class="text-center">
                    <p class="text-muted form">Or log in with your social account:</p>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <a  id="at-google" class="btn btn-primary btn-block btn-social btn-google">
                            <span class="fa fa-google"></span> Google
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <a id="at-facebook" class="btn btn-primary btn-block btn-social btn-facebook">
                            <span class="fa fa-facebook"></span> Facebook
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <a id="at-twitter" class="btn btn-primary btn-block btn-social btn-twitter">
                            <span class="fa fa-twitter"></span> Twitter
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <a  id="at-linkedin" class="btn btn-primary btn-block btn-social btn-linkedin">
                            <span class="fa fa-linkedin"></span> LinkedIn
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section> <!-- ./Log in Layer -->


    <!--  BLUR FILTER -->
    <div class="container blur-me">

        <!-- Search -->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 extra-spacing-top">
                        <div class="input-group stylish-input-group">
                            <input type="text" class="form-control"  placeholder="Search for a member or institution" >
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-search"></span>
                                </span>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- ./Search -->


        <!-- Services Section -->
        <section id="services">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="media-left">
                            <img class="members-thumbnail" src="img/contact-placeholder.jpg" alt="Max Mustermann">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Max Mustermann</h4>
                            <p class="italic">Musterinstitution Lorem ipsum dolor</p>
                            <p class="text-muted">Musterposition Dolor sit amet</p>
                            <ul class="list-inline social-buttons">
                                <li>
                                    <a href="max.mustermann@mustermann.ch"><i class="fa fa-envelope"></i></a>
                                </li>
                                <li>
                                    <a href="max.mustermann@mustermann.ch">max.mustermann@mustermann.ch</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="media-body">
                            <p class="interests">Interests regarding Open Strategy:</p>
                            <p class="text-muted">Interests regarding Open Strategy 1, Interest 2, Interest 3, Interest 4 or a longer text</p>
                        </div>
                    </div>
                </div>

                <hr class="light">

                <div class="row">
                    <div class="col-sm-6">
                        <div class="media-left">
                            <img class="members-thumbnail" src="img/contact-placeholder.jpg" alt="Max Mustermann">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Max Mustermann</h4>
                            <p class="italic">Musterinstitution Lorem ipsum dolor</p>
                            <p class="text-muted">Musterposition Dolor sit amet</p>
                            <ul class="list-inline social-buttons">
                                <li>
                                    <a href="max.mustermann@mustermann.ch"><i class="fa fa-envelope"></i></a>
                                </li>
                                <li>
                                    <a href="max.mustermann@mustermann.ch">max.mustermann@mustermann.ch</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="media-body">
                            <p class="interests">Interests regarding Open Strategy:</p>
                            <p class="text-muted">Interests regarding Open Strategy 1, Interest 2, Interest 3, Interest 4 or a longer text</p>
                        </div>
                    </div>
                </div>

                <hr class="light">

                <div class="row">
                    <div class="col-sm-6">
                        <div class="media-left">
                            <img class="members-thumbnail" src="img/contact-placeholder.jpg" alt="Max Mustermann">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Max Mustermann</h4>
                            <p class="italic">Musterinstitution Lorem ipsum dolor</p>
                            <p class="text-muted">Musterposition Dolor sit amet</p>
                            <ul class="list-inline social-buttons">
                                <li>
                                    <a href="max.mustermann@mustermann.ch"><i class="fa fa-envelope"></i></a>
                                </li>
                                <li>
                                    <a href="max.mustermann@mustermann.ch">max.mustermann@mustermann.ch</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="media-body">
                            <p class="interests">Interests regarding Open Strategy:</p>
                            <p class="text-muted">Interests regarding Open Strategy 1, Interest 2, Interest 3, Interest 4 or a longer text</p>
                        </div>
                    </div>
                </div>

                <hr class="light">

                <div class="row">
                    <div class="col-sm-6">
                        <div class="media-left">
                            <img class="members-thumbnail" src="img/contact-placeholder.jpg" alt="Max Mustermann">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Max Mustermann</h4>
                            <p class="italic">Musterinstitution Lorem ipsum dolor</p>
                            <p class="text-muted">Musterposition Dolor sit amet</p>
                            <ul class="list-inline social-buttons">
                                <li>
                                    <a href="max.mustermann@mustermann.ch"><i class="fa fa-envelope"></i></a>
                                </li>
                                <li>
                                    <a href="max.mustermann@mustermann.ch">max.mustermann@mustermann.ch</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="media-body">
                            <p class="interests">Interests regarding Open Strategy:</p>
                            <p class="text-muted">Interests regarding Open Strategy 1, Interest 2, Interest 3, Interest 4 or a longer text</p>
                        </div>
                    </div>
                </div>

                <hr class="light">

                <div class="row">
                    <div class="col-md-12 text-center">
                        <button href="#" class="btn btn-primary page-scroll extra-spacing-bottom">SEE MORE</button>
                    </div>
                </div>
            </div>
        </section>
    </div><!--  End of Blur -->
  </div><!-- End of Overlay -->
</template>
