<template name="footer">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-xs-12">
                    <div class="text-center">
                    <h3 class="footer-head">OUR HOSTS</h3>
                    <hr class="footer-hr">
                    </div>
                    <div class="footer-hosts">
                        <a href="http://www.business.uzh.ch/en/professorships/om.html" target="_blank" alt="University of Zurich"><img class="hosts-thumbnail" src="{{rootUrl}}img/logo_uni_zuerich.png"></a>
                        <a href="https://www.uibk.ac.at/iol/organisation/team/leonhard-dobusch/leonhard_dobusch.html.de" target="_blank" alt="University of Innsbruck"><img class="hosts-thumbnail-innsbruck" src="{{rootUrl}}img/logo_uni_innsbruck.png"></a>
                        <a href="http://www.sbs.ox.ac.uk/community/people/richard-whittington" target="_blank" alt="University of Oxford"><img class="hosts-thumbnail" src="{{rootUrl}}img/logo_uni_oxford.png"></a>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12 text-center">
                    <h3 class="footer-head">FOLLOW US</h3>
                    <hr class="footer-hr">
                    <!-- Social Media Bar -->
                    <div class="share-button sharer" style="display: block;">
                        <div class="social top center networks-5 ">
                            <!-- Facebook Share Button -->
                            <a class="follow-facebook" href="https://www.facebook.com/openstrategynetwork/" target="_blank" alt="OSN on Facebook"><i class="fa some fa-facebook-official"></i></a>

                            <!-- Google Plus Share Button -->
                            <!-- <a class="fbtn share gplus" href="https://plus.google.com/share?url=url"><i class="fa fa-google-plus"></i></a> -->

                            <!-- Twitter Share Button -->
                            <a class="follow-twitter" href="https://twitter.com/OpenStrategyNet" target="_blank" alt="OSN on Twitter"><i class="fa some fa-twitter"></i></a>

                            <!-- RSS Share Button -->
                            <a class="follow-rss" href="http://feeds.feedburner.com/OpenStrategyNetworksFeed" target="_blank" alt="OSN RSS Feed"><i class="fa some fa-rss"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-md-6 col-md-offset-6 text-right col-sm-12">
                    <ul class="list-inline quicklinks copyright">
                        <li><span class="copyright">&copy; Open Strategy Network 2016 <span class="separator">·</span> Made with <i class="fa fa-heart"></i> by <a class="footer-link" href="#" target="_blank" alt="Go to Webgstlt">webgstlt</a></span> </li>
                    </ul>
                </div>
            </div>
		</div> <!-- ./Container -->
	</footer> <!-- ./Footer -->

</template>
