<template name="footer">
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h3 class="footer-head">OUR SPONSORS</h3>
					<hr class="white">
				</div>
			</div>
			<div class="row text-center">
				<div class="col-sm-4 col-xs-12">
					<img class="sponsor-thumbnail" src="img/logo_uni_zuerich.svg" alt="University of Zurich">
					<a class="footer-link" href="url">University of Zurich</a>
				</div>
				<div class="col-sm-4">
					<img class="sponsor-thumbnail" src="img/logo_uni_oxford.jpg" alt="University of Oxford">
					<a class="footer-link" href="url">University of Oxford</a>
				</div>
				<div class="col-sm-4">
					<img class="sponsor-thumbnail" src="img/logo_uni_innsbruck.jpg" alt="University of Innsbruck">
					<a class="footer-link" href="url">University of Innsbruck</a>
				</div>
			</div>
		</div> <!-- ./Container -->
	</footer> <!-- ./Footer -->
</template>