<template name="bibliographyPage">
	<!-- Breadcrumb Profile-Settings -->
	<ol class="breadcrumb-content text-left">
		<li><a class="breadcrumb-link" href="{{pathFor route = 'home'}}">Home</a></li>
		<li><a class="breadcrumb-link" href="{{pathFor route = 'bibliography'}}">Bibliography</a></li>
		<li class="active">Abstract Title</li>
	</ol><!-- End of Breadcrumb -->


	<!-- Abstract -->
	<section id="services">
		<div class="container">
			<div class="row">
					<!-- Back-Button 1 -->
					<div class="col-sm-2 col-sm-offset-1 col-xs-12">
							<button type="button" class="btn btn-primary btn-sm js-back" alt="back">
									<span class="glyphicon glyphicon-circle-arrow-left"></span>
							</button>
					</div>
					<!-- Abstract -->
					<div class="col-sm-8 col-xs-12">
							<h3 class="text-left">{{title}}</h3>
							<p class="text-muted extra-spacing-bottom"> {{#each authors}} {{this.firstName}} {{this.lastName}}. {{/each}} </p>
							<!-- <p class="text-muted extra-spacing-bottom"> {{title}}. {{year}}. </p> -->

							{{#if isBK}}
							<p class="text-muted extra-spacing-bottom"> {{location}}: {{publisher}}, {{year}}</p>
							{{/if}}

							{{#if isBC}}
							<p class="text-muted extra-spacing-bottom"> {{location}}: {{publisher}}, {{year}}</p>
							{{/if}}

							{{#if isPP}}
							<p class="text-muted extra-spacing-bottom"> {{journal}}, {{year}} </p>
							{{/if}}

							{{#if isWP}}
							<p class="text-muted extra-spacing-bottom"> Working paper, {{year}} </p>
							{{/if}}

							<h3 class="text-left">Abstract</h3>
							<p class="extra-spacing-bottom">{{{abstract}}}</p>
							{{#if linkExists}}
							<h3 class="text-left">Link</h3>
							<a href="{{link}}">{{link}}</a>
							{{/if}}
							{{#if attachmentExists}}
							<a class="btn btn-primary btn-icon" href="{{ attachment.url }}"><span class="glyphicon glyphicon-download"></span>DOWNLOAD</a>
							{{/if}}
					</div> <!-- ./Abstract -->
					<!-- Back-Button 2 -->
					<div class="col-sm-2 col-sm-offset-1 col-xs-12">
                        <button type="button" class="btn btn-primary btn-sm btn-back js-back" alt="back">
                                <span class="glyphicon glyphicon-circle-arrow-left"></span>
                        </button>

					</div>
			</div>
		</div>
	</section> <!-- ./Abstract -->
</template>
