<template name="bibliographyMembers">
		<!-- Stage -->
		<header>
			<div class="header-bibliography">
				<!-- Breadcrumb -->
				<ol class="breadcrumb text-left">
					<li><a class="breadcrumb-link" href="{{pathFor route = 'home'}}">Home</a></li>
					<li class="active">Bibliography</li>
				</ol><!-- End of Breadcrumb -->
				<div class="header-bibliography-inner">
					<h1>Bibliography</h1>
					<hr>
					<h2>The Bibliography is a repository of Open Strategy related books, articles and working papers. You can search for "author", "year" or "keywords" to find relevant resources. The Bibliography is designed to be dynamic, growing with the OSN to include new knowledge and resources.</h2>
				</div>
			</div>
		</header> <!-- ./Stage -->

		<!-- Search -->
		<section>
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-sm-offset-3 extra-spacing-top">
						<div class="input-group stylish-input-group">
							{{> EasySearch.Input index=publicationsIndex attributes=atts }}
							<span class="input-group-addon">
								<span class="glyphicon glyphicon-search"></span>
							</span>
						</div>
					</div>
				</div>
			</div> 
		</section><!-- ./Search -->
	
	<!-- Bibliography Table Section -->
    <section id="services">
     <div class="container">  
		{{#EasySearch.IfNoResults index=publicationsIndex}}
			<h3>No results found!</h3>
		{{/EasySearch.IfNoResults}}

			{{#EasySearch.IfInputEmpty index=publicationsIndex}}

		<div class="table-responsive">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th class="year">Year <i id="yearIcon" class="fa fa-sort-desc"></i> </th>
						<th class="authors">Authors <i id="abcIcon" class="fa fa-sort-alpha-asc"></i></th>
						<th class="title">Title</th>
						<th class="outlet">Outlet</th>
						<th> </th>
					</tr>
				</thead>
				<tbody>
					{{#each publicationData}}
					<tr>
						<td class="table-text-bold">{{year}}</td>
						<td>
								
							<ul class="list-unstyled">
								{{#each authors}}
								<li>{{this.firstName}} {{this.lastName}}</li>
								{{/each}}
							</ul>
								
						</td>
						<td><a class="tbody-link" href="{{pathFor route = 'bibliographyPage'}}">{{title}}</a></td>
						<td>{{outlet}}</td>
						<td>
							<button type="button" class="button-download btn btn-primary btn-sm"><span class="glyphicon glyphicon-download"></span></button> 

							{{#if isInRole 'admin'}}
							<button type="button" class="button-download btn btn-primary btn-sm js-editPub"><span class="glyphicon glyphicon-edit"></span></button>
							{{/if}}
							</td>
					</tr>
					{{/each}}
				</tbody>
			</table>
			<div class="row">
				<div class="col-md-12 text-center">
					<button href="#" class="btn btn-primary page-scroll extra-spacing-bottom js-seeMoreBib">SEE MORE</button>
				</div>
			</div>
		</div>

			{{else}}
				{{#if publicationsIndex}}				
				<div class="table-responsive">
					<table class="table table-striped table-hover">
						<thead>
							<tr>
								<th class="year">Year <i id="yearIcon" class="fa fa-sort-desc"></i> </th>
								<th class="authors">Authors <i id="abcIcon" class="fa fa-sort-alpha-asc"></i></th>
								<th class="title">Title</th>
								<th class="outlet">Outlet</th>
								<th> </th>
							</tr>
						</thead>
						<tbody>
						{{#EasySearch.Each index=publicationsIndex}}	
							<!-- {{#each publicationData}} -->
							<tr>
								<td class="table-text-bold">{{year}}</td>
								<td>
										
									<ul class="list-unstyled">
										{{#each authors}}
										<li>{{this.firstName}} {{this.lastName}}</li>
										{{/each}}
									</ul>
										
								</td>
								<td><a class="tbody-link" href="{{pathFor route = 'newsAndEventsPage'}}">{{title}}</a></td>
								<td>{{outlet}}</td>
								<td><button type="button" class="button-download btn btn-primary btn-sm"><span class="glyphicon glyphicon-download"></span></button></td>
							</tr>
							<!-- {{/each}} -->
						{{/EasySearch.Each}}
						</tbody>
					</table>
					<div class="row">
						<div class="col-md-12 text-center">
							<button href="#" class="btn btn-primary page-scroll extra-spacing-bottom">SEE MORE</button>
						</div>
					</div>
				</div>    
				{{/if}}
			{{/EasySearch.IfInputEmpty}}
			
		{{> EasySearch.LoadMore index=publicationsIndex}}
		</div>
	</section> <!-- end row -->
</template>