<template name="bibliography">
	<div class="container">
		<div class="row">
		  	<h3>Search: {{> EasySearch.Input index=publicationsIndex attributes=atts }}</h3>
		  	{{#EasySearch.IfInputEmpty index=publicationsIndex}}

			<div class="col-md-12">
				<table class="table table-striped">
				    <thead>
				      <tr>
				        <th>Authors <i id="abcIcon" class="fa fa-sort-alpha-asc"></i> </th>
				        <th>Title</th>
				        <th>Outlet</th>
				        <th>Year <i id="yearIcon" class="fa fa-sort-desc"></i> <!-- <i class="fa fa-sort-desc"></i> --> </th>
				      </tr>
				    </thead>
				    <tbody>
	    			{{#each publicationData}}
				      <tr>
				      	{{#each authors}}
				        <td>{{this.firstName}} {{this.lastName}}</td>
				        {{/each}}

				        <td>{{title}}</td>
				        <td> Outlet </td>
				        <td>{{year}}</td>
				      </tr>
						{{/each}}
				    </tbody>
			    </table>
					{{#each publicationData}}
					<li>
						{{#each authors}}
						{{this.firstName}} {{this.lastName}}
						{{/each}}
					</li>
					{{/each}}
			</div> <!-- end col  -->

	  		{{else}}
	  		{{#if publicationsIndex}}
		  		<ul>
			    {{#EasySearch.Each index=publicationsIndex}}
			      <li><h3>Name of website: <a href="{{url}}">{{title}}</a></h3>
						<p>{{description}}</p>
			      </li>
			    {{/EasySearch.Each}}
			  	</ul>
	  		{{/if}}
		  	{{/EasySearch.IfInputEmpty}}


		  {{> EasySearch.LoadMore index=publicationsIndex}}

		  {{#EasySearch.IfNoResults index=publicationsIndex}}
		    <div class="no-results">No results found!</div>
		  {{/EasySearch.IfNoResults}}

  	</div> <!-- end row -->
  </div> <!-- end container -->
</template>
