<template name="membersMembers">
	<!-- Stage -->
	<header>
			<div class="header-content">
					<!-- Breadcrumb -->
					<ol class="breadcrumb text-left">
							<li><a class="breadcrumb-link" href="{{pathFor route = 'home'}}">Home</a></li>
							<li class="active">Members</li>
					</ol><!-- End of Breadcrumb -->
					<div class="header-content-inner">
							<h1>Members</h1>
							<hr>
							<h2>Members are international researchers who share an interest in developing Open Strategy Research, encourage collaborative research projects among other members in the field and disseminate research findings on Open Strategy through this website.</h2>
					</div>
			</div>
	</header> <!-- ./Stage -->

	<!-- BLURED BACKGROUND STARTS HERE -->

	<!-- Search -->
	<div class="overlay"><!--  Overlay -->

		<!-- Search -->
		<section>
				<div class="container">
						<div class="row">
								<div class="col-sm-6 col-sm-offset-3 extra-spacing-top">
										<div class="input-group stylish-input-group">
												{{> EasySearch.Input index=membersIndex attributes=atts }}
												<span class="input-group-addon">
														<span class="glyphicon glyphicon-search"></span>
														</span>
										</div>
								</div>
						</div>
				</div>
		</section><!-- ./Search -->


		<!-- Services Section -->
		<section id="services">
			<div class="container-members">
				{{#EasySearch.IfNoResults index=membersIndex}}
					<h3>No members found!</h3>
					<hr class="light">
				{{/EasySearch.IfNoResults}}

				<!-- Core Search -->
				{{#EasySearch.IfInputEmpty index=membersIndex}}
				{{#each membersData}}
				<div class="row">
						<div class="col-sm-6">
								<div class="media-left">
										{{#if this.profile.pictureID}}
										<img class="members-thumbnail" src="{{profile.pictureID}}" alt="{{profile.firstName}} {{profile.lastName}}">
										{{/if}}
										{{#if this.profile.picture}}
										<img class="members-thumbnail" src="{{profile.picture}}" alt="{{profile.firstName}} {{profile.lastName}}">
										{{/if}}
										{{#if noPicture}}
										<img class="members-thumbnail" src="img/contact-placeholder.jpg" alt="{{profile.firstName}} {{profile.lastName}}">
										{{/if}}
								</div>

								<div class="media-body">
										<h4 class="media-heading">{{profile.firstName}} {{profile.lastName}}</h4>
										<p class="italic">{{profile.institution}}</p>
										<p class="text-muted">{{profile.position}}</p>
                                        <ul class="list-inline social-buttons">
												<li>
														<a href="mailto:{{profile.email}}" alt="{{profile.email}}"><i class="fa fa-envelope"></i></a>
												</li>

												<li>
														<a href="mailto:{{profile.email}}">{{profile.email}}</a>
												</li>
										</ul>
                    <!-- Social Media Bar -->
                    <div class="share-button sharer">
                        <div class="social top networks-5 ">
                            <!-- Website Share Button -->
                            {{#if profile.website}}
                            <a class="follow-website" href="{{profile.website}}" target="_blank" alt="Go to website"><i class="fa some-members fa-globe"></i></a>
														{{/if}}
                            <!-- Blog Share Button -->
                            {{#if profile.blog}}
                            <a class="follow-blog" href="{{profile.blog}}" target="_blank" alt="Go to Blog"><i class="fa some-members fa-book"></i></a>
														{{/if}}
														<!-- Goolge Scholar Button -->
														{{#if profile.scholar}}
														<a class="follow-scholar" href="{{profile.scholar}}" target="_blank" alt="Go to Google Scholar"><i class="ai ai-google-scholar-square"></i></a>
														{{/if}}
                            <!-- LinkedIn Share Button-->
                            {{#if profile.linkedin}}
                            <a class="fbtn follow-linkedin" href="{{profile.linkedin}}" target="_blank" alt="Go to LinkedIn"><i class="fa some-members fa-linkedin"></i></a>
														{{/if}}
                            <!-- Twitter Share Button -->
                            {{#if profile.twitter}}
                            <a class="follow-twitter" href="{{profile.twitter}}" target="_blank" alt="Go to Twitter"><i class="fa some-members fa-twitter"></i></a>
														{{/if}}
                            <!-- Facebook Share Button -->
                            {{#if profile.facebook}}
                            <a class="follow-facebook" href="{{profile.facebook}}" target="_blank" alt="Go to Facebook"><i class="fa some-members fa-facebook-official"></i></a>
														{{/if}}
                        </div>
                    </div>
								</div>
						</div>
						<div class="col-sm-6 no-spacing-top">
								<div class="media-body">
										<p class="interests">Interests regarding Open Strategy:</p>
										<p class="text-muted">{{profile.interests}}</p>
								</div>
						</div>
				</div> <!-- end row -->

				<hr class="light">
				{{/each}}

				{{else}}

				{{#if membersIndex}}
					{{#EasySearch.Each index=membersIndex}}

						<div class="row">
								<div class="col-sm-7">
										<div class="media-left">
												{{#if this.profile.pictureID}}
												<img class="members-thumbnail" src="{{profile.pictureID}}" alt="{{profile.firstName}} {{profile.lastName}}">
												{{/if}}
												{{#if this.profile.picture}}
												<img class="members-thumbnail" src="{{profile.picture}}" alt="{{profile.firstName}} {{profile.lastName}}">
												{{/if}}
												{{#if noPicture}}
												<img class="members-thumbnail" src="img/contact-placeholder.jpg" alt="{{profile.firstName}} {{profile.lastName}}">
												{{/if}}
										</div>
										<div class="media-body">
												<h4 class="media-heading">{{profile.firstName}} {{profile.lastName}}</h4>
												<p class="italic">{{profile.institution}}</p>
												<p class="text-muted">{{profile.position}}</p>
												<ul class="list-inline social-buttons">
														<li>
																<a href="mailto:{{profile.email}}"><i class="fa fa-envelope"></i></a>
														</li>
														<li>
																<a href="mailto:{{profile.email}}">{{profile.email}}</a>
														</li>
												</ul>
										</div>
								</div>
								<div class="col-sm-4">
										<div class="media-body">
												<p class="interests">Interests regarding Open Strategy:</p>
												<p class="text-muted">{{profile.interests}}</p>
										</div>
								</div>
						</div> <!-- end row -->

						<hr class="light">

					{{/EasySearch.Each}}
				{{/if}}
				{{/EasySearch.IfInputEmpty}}

					<!-- Add later when more News uploaded -->
					<!-- <div class="row">
            <div class="col-md-12 text-center">
                <button class="btn btn-primary page-scroll extra-spacing-bottom js-seeMoreMem">SEE MORE</button>
            </div>
          </div> -->
			</div> <!-- end container -->
		</section>
	</div> <!-- end of overlay -->
</template>
