<template name="membersMembers">
	<!-- Stage -->
	<header>
			<div class="header-content">
					<!-- Breadcrumb -->
					<ol class="breadcrumb text-left">
							<li><a class="breadcrumb-link" href="{{pathFor route = 'home'}}">Home</a></li>
							<li class="active">Members</li>
					</ol><!-- End of Breadcrumb -->
					<div class="header-content-inner">
							<h1>Members</h1>
							<hr>
							<h2>Anybody interested in Open Strategy can join the OSN. Registration is free.</h2>
					</div>
			</div>
	</header> <!-- ./Stage -->

	<!-- BLURED BACKGROUND STARTS HERE -->

	<!-- Search -->
	<div class="overlay"><!--  Overlay -->

		<!-- Search -->
		<section>
				<div class="container">
						<div class="row">
								<div class="col-sm-6 col-sm-offset-3 extra-spacing-top">
										<div class="input-group stylish-input-group">
												{{> EasySearch.Input index=membersIndex attributes=atts }}
												<span class="input-group-addon">
														<span class="glyphicon glyphicon-search"></span>
														</span>
										</div>
								</div>
						</div>
				</div>
		</section><!-- ./Search -->


		<!-- Services Section -->
		<section id="services">
			<div class="container">
				{{#EasySearch.IfNoResults index=membersIndex}}
					<h3>No members found!</h3>
					<hr class="light">
				{{/EasySearch.IfNoResults}}

				<!-- Core Search -->
				{{#EasySearch.IfInputEmpty index=membersIndex}}
				{{#each membersData}} 
				<div class="row">
						<div class="col-sm-6">
								<div class="media-left">
										{{#if this.profile.pictureID}}
										<img class="members-thumbnail" src="{{uploadedPic.url}}" alt="Max Mustermann">
										{{/if}}
										{{#if this.profile.picture}}
										<img class="members-thumbnail" src="{{profile.picture}}" alt="Max Mustermann">
										{{/if}}
										{{#if noPicture}}
										<img class="members-thumbnail" src="img/contact-placeholder.jpg" alt="Max Mustermann">
										{{/if}}
								</div>
								
								<div class="media-body">
										<h4 class="media-heading">{{profile.firstName}} {{profile.lastName}}</h4>
										<p class="italic">{{profile.institution}}</p>
										<p class="text-muted">{{profile.position}}</p>
										<ul class="list-inline social-buttons">
												<li>
														<a href="mailto:{{profile.email}}"><i class="fa fa-envelope"></i></a>
												</li>
												<li>
														<a href="mailto:{{profile.email}}">{{profile.email}}</a>
												</li>
										</ul>
								</div>
						</div>
						<div class="col-sm-6">
								<div class="media-body">
										<p class="interests">Interests reg. Open Strategy:</p>
										<p class="text-muted">{{profile.interests}}</p>
								</div>
						</div>
				</div> <!-- end row -->
				
				<hr class="light">
				{{/each}}

				{{else}}
				
				{{#if membersIndex}}		
					{{#EasySearch.Each index=membersIndex}}

						<div class="row">
								<div class="col-sm-6">
										<div class="media-left">
												{{#if this.profile.pictureID}}
												<img class="members-thumbnail" src="{{uploadedPic.url}}" alt="Max Mustermann">
												{{/if}}
												{{#if this.profile.picture}}
												<img class="members-thumbnail" src="{{profile.picture}}" alt="Max Mustermann">
												{{/if}}
												{{#if noPicture}}
												<img class="members-thumbnail" src="img/contact-placeholder.jpg" alt="Max Mustermann">
												{{/if}}
										</div>
										<div class="media-body">
												<h4 class="media-heading">{{profile.firstName}} {{profile.lastName}}</h4>
												<p class="italic">{{profile.institution}}</p>
												<p class="text-muted">{{profile.position}}</p>
												<ul class="list-inline social-buttons">
														<li>
																<a href="mailto:{{profile.email}}"><i class="fa fa-envelope"></i></a>
														</li>
														<li>
																<a href="mailto:{{profile.email}}">{{profile.email}}</a>
														</li>
												</ul>
										</div>
								</div>
								<div class="col-sm-6">
										<div class="media-body">
												<p class="interests">Interests reg. Open Strategy:</p>
												<p class="text-muted">{{profile.interests}}</p>
										</div>
								</div>
						</div> <!-- end row -->
						
						<hr class="light">

					{{/EasySearch.Each}}
				{{/if}}
				{{/EasySearch.IfInputEmpty}}
			
				  <div class="row">
            <div class="col-md-12 text-center">
                <button class="btn btn-primary page-scroll extra-spacing-bottom js-seeMoreMem">SEE MORE</button>
            </div>
          </div>
			</div> <!-- end container -->
		</section>
	</div> <!-- end of overlay -->
</template>
