<template name="unSubscribe">
  <!-- Stage -->
  <header>
    <div class="header-content">
      <!-- Breadcrumb -->
      <ol class="breadcrumb text-left">
        <li><a class="breadcrumb-link" href="{{pathFor route = 'home'}}">Home</a></li>
        <li class="active">Unsubscribe</li>
      </ol><!-- End of Breadcrumb -->

      <div class="header-content-inner">
        <h1>Hello</h1>
        <hr>
        <h2>You are unsubscribed</h2>
      </div>
    </div>
  </header> <!-- ./Stage -->
  {{unsubscribe}}
</template>